<% layout('layouts/boilerplate') %>

    <h1>All Routes</h1>

    <% for(let route of routes){ %>
        <div class="card mb-2">
                <h5 class="card-title">
                    <a href="routes/<%= route._id %>">
                        <%= route.title %>
                    </a>
                    <!-- crag info, NEED UPDATED DATA TO POPULATE CRAG -->
                </h5>
            <div>
                <span class="card-text">Rating: <%= route.rating %></span>
            </div>
        </div>
    <% } %>
