<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Crag</title>
</head>
<body>
    <h1>Let's Go Cragging!</h1>
    <ul>
        <% for(let route of data){ %>
            <li><%= route.title %></li>
        <% } %>
    </ul>
</body>
</html>