<% layout('layouts/boilerplate') %>

    <h1>Let's Go Cragging!</h1>
    <ul>
        <% for(let route of routes){ %>
            <li><%= route.title %> - <%= route.location.city %></li>
        <% } %>
    </ul>

