<% layout('layouts/boilerplate') %>

    <h1>Let's Go Cragging!</h1>
    <ul>
        <% for(let crag of crags){ %>
            <li><%= crag.title %> - Routes: <%= crag.routes.length %></li>
        <% } %>
    </ul>

